apiVersion: v1
kind: Service
metadata:
    name: service-training

spec:
    type: NodePort
    ports:
        - port: 8080
          targetPort: 8080
          nodePort: 30008
    selector:
        app: spring
        type: backend