apiVersion: v1
kind: Service
metadata:
    name: mysqldb
    labels:
        name: service-mysqldb
        app: mysql

spec:
    ports:
        - port: 3306
          targetPort: 3306
    selector:
        app: mysqldb