apiVersion: v1
kind: Service
metadata:
    name: service-training-mysql

spec:
    type: NodePort
    ports:
        - port: 8080
          targetPort: 8080
          nodePort: 30009
    selector:
        app: spring-mysql
        type: backend-mysql